{% extends 'base.html.twig' %}

{% block title %}LogBook Execution API {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>API EXECUTION help {{ controller_name }} is WIP✅</h1>

    <ul>
        <li>controller at <code><a href="{{ '/var/www/lbook/src/Controller/LogBookApiController.php'|file_link(0) }}">src/Controller/LogBookApiController.php</a></code></li>
        {% set break = false %}
        {% set counter = 0 %}
        {% for func in functions if not break %}
            {% if counter == 10000 %}
                {% set break = true %}
            {% endif %}
            <li>{{ func }}</li>

            {% set counter = counter+1 %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
