{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<script>
    function ConvertExternal() {
        var checkedValue = $( "#log_book_defect_isExternal" ).is(":checked");
        if (checkedValue) {
            $( "#log_book_defect_ext_url").show();
            $( "#log_book_defect_ext_url").parent().find("label:first").show();
            $( "#log_book_defect_ext_id").show();
            $( "#log_book_defect_ext_id").parent().find("label:first").show();

        } else {
            $( "#log_book_defect_ext_url").hide();
            $( "#log_book_defect_ext_url").parent().find("label:first").hide();
            $( "#log_book_defect_ext_id").hide();
            $( "#log_book_defect_ext_id").parent().find("label:first").hide();

        }
    }

    $(document).ready(function() {
        $( "#log_book_defect form" ).css( "width", "1000px" );
        $( "#log_book_defect input[type = 'text']" ).css( "width", "900px" );
        $( "#log_book_defect select" ).css( "width", "900px" );
        $( "#log_book_defect textarea" ).css( "width", "900px" );
        $( "#log_book_defect label" ).css( "width", "150px" );

        $( "#log_book_defect_isExternal" ).bind( "click", function() {
            ConvertExternal();
        });
        ConvertExternal();

    });
</script>