[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrey Shamis (AndreyShamis)
[access "refs/for/refs/*"]
	read = group user/Andrey Shamis (AndreyShamis)
	push = group user/Andrey Shamis (AndreyShamis)
	label-Code-Review = -2..+2 group user/Andrey Shamis (AndreyShamis)
	label-Verified = -1..+1 group user/Andrey Shamis (AndreyShamis)
	rebase = group user/Andrey Shamis (AndreyShamis)
	removeReviewer = group user/Andrey Shamis (AndreyShamis)
	submit = group user/Andrey Shamis (AndreyShamis)
[access "refs/heads/*"]
	read = group user/Andrey Shamis (AndreyShamis)
	create = group user/Andrey Shamis (AndreyShamis)
	push = +force group user/Andrey Shamis (AndreyShamis)
	pushMerge = group user/Andrey Shamis (AndreyShamis)
[access "refs/tags/*"]
	push = group user/Andrey Shamis (AndreyShamis)
	push = +force group user/Andrey Shamis (AndreyShamis)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
