{% extends 'lbook/default/index.html.twig' %}
{% block title %}LBOOK New TestFilter{% endblock %}
{% block content %}

    <h1>Create new TestFilter</h1>

    {{ include('test_filter/_form.html.twig') }}

    <a href="{{ path('test_filter_index') }}">back to list</a>
{% endblock %}
