{% extends 'lbook/default/index.html.twig' %}
{% block title %}LBOOK Cycles list{% endblock %}
{% block content %}
    <h1>Cycle list</h1>
    <div>Count : {{ size }}</div>
    {% include "lbook/search.html.twig" %}
    {% set pagePath = "cycle_index" %}
    {% include "lbook/paginator.html.twig" %}
    <table class="records_list table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th>Setup</th>
            <th>Tests</th>
            <th>Pass Rate</th>
            <th>Build</th>
            <th>Controller</th>
            <th>DUT</th>
            <th>Uploader</th>
            <th>Period</th>
            <th>Test time</th>
            <th>Updated</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody class="searchable">
        {% set break = false %}
        {% set counter = 0 %}
        {% for cycle in iterator if not break %}
        {% if counter == 10000 %}
            {% set break = true %}
        {% endif %}
        {% set counter = counter+1 %}
            <tr>
                <td>
                    {%  if date(cycle.updatedAt) > date('-30minutes') %}
                    <i class="normal-icon ace-icon fa fa-clock-o pink bigger-130"></i>
                    {% endif %}
                </td>
                <td><a href="{{ path('cycle_show_first', { 'id': cycle.id }) }}">{{ cycle.id }}</a></td>
                <td><a href="{{ path('cycle_show_first', { 'id': cycle.id }) }}">{{ cycle.name }}</a></td>
                <td><a href="{{ path('setup_show_first', { 'id': cycle.setup.id }) }}">{{ cycle.setup }}</a></td>
                <td>{{ cycle.testsCount }}</td>
                {#<td>{{ cycle.tests | length }}</td>#}
                <td><span class="{{ passRateToColor(cycle.passRate) }}">{{ cycle.passRate }}%</span></td>
                <td>{{ cycle.build }}</td>
                <td>{{ cycle.controller }}</td>
                <td>{{ cycle.dut }}</td>
                <td>{{ cycle.targetUploader }}</td>
                <td>{{ cycle.period |  ExecutionTimeInHours}}</td>
                <td>{{ cycle.testsTimeSum |  ExecutionTimeInHours}}</td>
                <td>{{ cycle.updatedAt |date('m-d H:i:s') }}</td>
                <td>
                    <a href="{{ path('cycle_show', { 'id': cycle.id }) }}">show</a>
                    {% if is_granted('edit', cycle.setup) %}
                        <a href="{{ path('cycle_edit', { 'id': cycle.id }) }}">edit</a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cycle_new') }}">Create a new Cycle</a>
        </li>
    </ul>
{% endblock %}
