{% extends 'lbook/default/index.html.twig' %}
{% block title %}LBOOK Cycle [{{ cycle.id }}:{{ cycle.name }}] {% endblock %}
{% block content %}
    {% set testsCount = cycle.testsCount %}
    {% set allTestsCount = cycle.tests|length  %}
    <h3><a href="{{ path('setup_show', { 'id': cycle.setup.id }) }}"><<< {{ cycle.setup}}</a> / Cycle [{{ cycle.id }}] : {{ cycle.name }}</h3>
    <table class="records_list table table-striped table-condensed">
        <tbody>
        {#<tr>#}
            {#<th>#}
                {#<span title="Time in seconds between min tests time to max tests time">Period</span>#}
                {#/#}
                {#<span title="testsTimeSum:Time in seconds calculated from all execution time of tests">Run Time</span>#}
            {#</th>#}
            {#<td>{{ cycle.period |  ExecutionTimeGeneric}} / {{ cycle.testsTimeSum |  ExecutionTimeGeneric}}</td>#}
            {#<th>Pass Rate</th>#}
            {#<td><span class="label label-danger label-white middle">{{ cycle.passRate }} %</span></td>#}
            {#<th>Name</th>#}
            {#<td><span class="label label-info label-white">{{ cycle.name }}</span></td>#}
            {#<th>Id</th>#}
            {#<td>{{ cycle.id }}</td>#}
        {#</tr>#}
        <tr>
            <th>
                <span title="Time in seconds between min tests time to max tests time">Period</span>/
                <span title="testsTimeSum:Time in seconds calculated from all execution time of tests">Run Time</span>
            </th>
            <td>{{ cycle.period |  ExecutionTimeGeneric}} / {{ cycle.testsTimeSum |  ExecutionTimeGeneric}}</td>
            <th>DUT</th>
            <td><span class="label label-danger label-white middle">{{ cycle.dut }}</span></td>
            <th>Controller/Uploader</th>
            <td>
                <span class="label label-purple label-white middle">{{ cycle.controller }}</span>/
                <span class="label label-purple label-white middle">{{ cycle.targetUploader }}</span></td>
            <th>Build</th>
            <td>
                {% if cycle.build  %}
                    <a href="{{ path('build_show_cycles_first', {'id': cycle.build.id}) }}" target="_blank" title="Open Build Info for all cycles with this build">
                        <span class="label label-white middle">
                            <i class="ace-icon fa fa-folder-open-o"></i>
                            {{ cycle.build }}
                        </span>
                    </a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Start Time</th>
            <td><span class="label label-success label-white arrowed arrowed-right">{{ cycle.timeStart|date('Y-m-d H:i:s') }}</span></td>
            <th>Token EXP</th>
            <td>{{ cycle.tokenExpiration|date('Y-m-d H:i:s') }}</td>
            <th>Updated</th>
            <td>{{ cycle.updatedAt|date('Y-m-d H:i:s') }}</td>
            <th>Created</th>
            <td>{{ cycle.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>End Time</th>
            <td><span class="label label-success label-white arrowed arrowed-right">{{ cycle.timeEnd|date('Y-m-d H:i:s') }}</span></td>
            <th>Token</th>
            <td colspan="5"><span style="font-size: 9px;">{{ cycle.uploadToken }}</span></td>
        </tr>
        <tr>
            <th>All Tests count</th>
            <td>
                {{ allTestsCount}}
                <i class="ace-icon fa fa-exclamation-circle" title="Disabled tests also included"></i>
            </td>
            <th>Setup</th>
            <td colspan="5">
                <table class="records_list table table-striped table-condensed">
                    <tr>
                        <td><a target="_blank" href="{{ path('setup_show', { 'id': cycle.setup.id }) }}"><span class="label label-success label-white middle">{{ cycle.setup}}</span></a></td>
                        <td>Short name <span class="label label-success label-white middle">{{ cycle.setup.nameShown }}</span></td>
                        <td>OS :{{ cycle.setup.os }}</td>
                        <td>Owner :{{ cycle.setup.owner }}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <div class="infobox-container">

                    <div class="infobox infobox-orange2">
                        <div class="infobox-icon">
                            <i class="ace-icon fa fa-flask"></i>
                        </div>
                        <div class="infobox-data" title="Also there is {{ cycle.testsDisabled }}({{ getPercentage (cycle.testsDisabled, allTestsCount, 2) }}%) disabled tests.">
                            <span class="infobox-data-number">{{ testsCount }}</span>
                            <div class="infobox-content">Total tests</div>
                        </div>
                    </div>

                    <div class="infobox infobox-green">
                        <div class="infobox-progress">
                            <div class="easy-pie-chart percentage" id="passRate" data-size="50" data-percent="{{ cycle.passRate }}" data-color="#82af6f"
                                 style="height: 50px; width: 50px; line-height: 49px; color: rgb(135, 184, 127);">
                                <span class="percent">{{ cycle.testsPass | getPercentage (testsCount, 0) }}%</span>
                            </div>
                        </div>
                        <div class="infobox-data" title="{{ cycle.passRate }}%">
                            <span class="infobox-text" style="color: #82af6f">Pass Rate</span>
                            <div class="infobox-content">
                                <span class="bigger-110">{{ cycle.testsPass }} tests</span>
                            </div>
                        </div>
                    </div>
                    {% if cycle.testsWarning > 0 %}
                    <div class="infobox infobox-black">
                        <div class="infobox-progress">
                            <div class="easy-pie-chart percentage" data-size="50" data-percent="{{ cycle.warningRate }}" data-color="#6FB3E0"
                                 style="height: 50px; width: 50px; line-height: 49px;">
                                <span class="percent">{{ cycle.testsWarning |  getPercentage (testsCount, 0) }}%</span>
                            </div>
                        </div>
                        <div class="infobox-data" title="{{ cycle.warningRate }}%">
                            <span class="infobox-text" style="color: #6FB3E0">Warning Rate</span>
                            <div class="infobox-content">
                                <span class="bigger-110">{{ cycle.testsWarning }} tests</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if cycle.testsFail > 0 %}
                    <div class="infobox infobox-red">
                        <div class="infobox-progress">
                            <div class="easy-pie-chart percentage" data-size="50" data-percent="{{ cycle.failRate }}" data-color="#d15b47"
                                 style="height: 50px; width: 50px; line-height: 49px;">
                                <span class="percent">{{ cycle.testsFail | getPercentage (testsCount, 0) }}%</span>
                            </div>
                        </div>
                        <div class="infobox-data" title="{{ cycle.failRate }}%">
                            <span class="infobox-text" style="color: #d15b47">Fail Rate</span>
                            <div class="infobox-content">
                                <span class="bigger-110">{{ cycle.testsFail }} tests</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if cycle.testsError > 0 %}
                    <div class="infobox infobox-orange">
                        <div class="infobox-progress">
                            <div class="easy-pie-chart percentage" data-size="50" data-percent="{{ cycle.errorRate }}" data-color="#f89406"
                                 style="height: 50px; width: 50px; line-height: 49px;">
                                <span class="percent">{{ cycle.testsError |  getPercentage (testsCount, 0) }}%</span>
                            </div>
                        </div>
                        <div class="infobox-data" title="{{ cycle.errorRate }}%">
                            <span class="infobox-text" style="color: #f89406">Error Rate</span>
                            <div class="infobox-content">
                                <span class="bigger-110">{{ cycle.testsError }} tests</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </td>
        </tr>
        {#<tr>#}
            {#<th>Pass</th>#}
            {#<td>{{ cycle.testsPass }}</td>#}
            {#<th>Fail</th>#}
            {#<td>{{ cycle.testsFail }}</td>#}
            {#<th>Error</th>#}
            {#<td>{{ cycle.testsError }}</td>#}
            {#<th>Count</th>#}
            {#<td>{{ cycle.testsCount }}</td>#}
        {#</tr>#}
        {#{% set already_printed = [ 'testsPass', 'testsFail', 'testsError', 'testsWarning', 'testsCount', 'testsDisabled',#}
            {#'dirty', 'uploadToken', 'tokenExpiration', 'id', 'name' , 'tests', 'setup', 'period',#}
            {#'passRate', 'errorRate', 'failRate', 'warningRate', 'timeStart', 'timeEnd',#}
            {#'updatedAt', 'createdAt', 'testsTimeSum',#}
            {#'controller', 'targetUploader', 'dut',#}
            {#'build', 'disabled', 'forDelete'] %}#}
        {#{% for key, value in cycle|cast_to_array %}#}
            {#{% if key not in already_printed%}#}
                {#<tr>#}
                    {#<th>{{ key | capitalize}}</th>#}
                    {#<td>{{ dump(value) }}</td>#}
                {#</tr>#}
            {#{% endif %}#}
        {#{% endfor %}#}
        </tbody>
    </table>
    {% set cycle_show_test_id_show = app.user.settings.cycleShowTestIdShow | default(true) %}
    {% set cycle_show_test_time_start_show = app.user.settings.cycleShowTestTimeStartShow | default(true) %}
    {% set cycle_show_test_time_end_show = app.user.settings.cycleShowTestTimeEndShow | default(true) %}
    {% set cycle_show_test_time_ratio_show = app.user.settings.cycleShowTestTimeRatioShow | default(true) %}
    {% set show_metadata = app.user.settings.cycleShowTestMetaDataShow | default(true) %}
    {% set show_uptime = app.user.settings.cycleShowTestUptime | default(true) %}

    {% set cycle_show_test_time_start_format = app.user.settings.cycleShowTestTimeStartFormat | default('H:i:s')%}
    {% set cycle_show_test_time_end_format = app.user.settings.cycleShowTestTimeEndFormat | default('H:i:s')%}

    {% set pagePath = "cycle_show" %}
    {% set objId = cycle.id %}
    {% include "lbook/double.paginator.html.twig" %}
    {%  set tests = cycle.tests%}
    {% include "lbook/search.html.twig" %}
    <table class="records_list table table-striped table-condensed table-hover" data-classes="table table-no-bordered"
           id="testTable" data-pagination="true" data-search="true" data-toggle="table"
           data-page-size="2000" data-page-list="[50, 100, 500, 1000, 2000, 'ALL']" data-sort-order="desc"
           {#data-toolbar="#toolbar"#}
           {#data-search="true"#}
           {#data-show-refresh="true"#}
           {#data-show-toggle="true"#}
           {#data-show-columns="true"#}
           {#data-show-export="true"#}
           {#data-detail-view="true"#}
           {#data-detail-formatter="detailFormatter"#}
           {#data-minimum-count-columns="2"#}
           {#data-show-pagination-switch="true"#}
           {#data-pagination="true"#}
           {#data-id-field="id"#}
           {#data-response-handler="responseHandler"#}
    >
        <thead>
        <tr>
            {% if cycle_show_test_id_show == true %}
                <th data-sortable="true" data-field="id">ID</th>
            {% endif %}
            <th data-sortable="true" data-field="order" title="Test order">Order</th>
            <th data-sortable="true" data-field="name" data-sorter="htmlSorter" title="Test Name">Name</th>
            <th data-sortable="true" data-field="time_run" title="Test run time">Runtime</th>
            {% if cycle_show_test_time_start_show == true %}
                <th data-sortable="true" data-field="time_start" data-sorter="htmlSorter" title="Test start time">Time start</th>
            {% endif %}
            {% if cycle_show_test_time_end_show == true %}
                <th data-sortable="true" data-field="time_end" data-sorter="htmlSorter" title="Test end time">Time end</th>
            {% endif %}
            {% if cycle_show_test_time_ratio_show == true %}
                <th data-sortable="true" data-field="time_ratio" title="Shows percentage of time in whole cycle">% time</th>
            {% endif %}
            {% if show_metadata == true %}
                {% for key, item in additional_cols %}
                    <th data-sortable="true" title="{{ key }}-{{ item }}" class="meta_data_column">{{ shortString(item|replace({'_SHOW': '' }) , 15) }}</th>
                {% endfor %}
            {% endif %}
            {% if disabled_uptime == false and show_uptime == true %}
                <th data-sortable="true" data-field="uptime_start" title="Uptime on test start">Uptime</th>
                <th data-sortable="true" data-field="uptime_end" title="Uptime on test end">Uptime</th>
            {% endif %}
            <th data-sortable="true" data-field="verdict">Verdict</th>
            {#<th>Actions</th>#}
        </tr>
        </thead>
        <tbody class="searchable">

        {% set break = false %}
        {% set counter = 0 %}
        {% for test in iterator if not break %}

            {% if counter == 10000 %}
                {% set break = true %}
            {% endif %}
            {% set counter = counter+1 %}
            {% set test_disabled = '' %}
            {% if test.isDisabled == 1 %}
                {% set test_disabled = 'test-disabled' %}
            {% endif %}
            <tr class="{{ test_disabled }}">
                {% if cycle_show_test_id_show == true %}
                    <td>{{ test.id }}</td>
                {% endif %}
                <td>{{ test.executionOrder }}</td>
                <td><a href="{{ path('test_show', { 'id': test.id  }) }}">{{ test.name }}</a></td>
                <td>{{ test.timeRun | ExecutionTimeGeneric}}</td>
                {% if cycle_show_test_time_start_show == true %}
                    <td>{% if test.timeStart %}<span title="{{ test.timeStart|date('Y-m-d H:i:s') }}">{{ test.timeStart|date(cycle_show_test_time_start_format) }}</span>{% endif %}</td>
                {% endif %}
                {% if cycle_show_test_time_end_show == true %}
                    <td>{% if test.timeEnd %}<span title="{{ test.timeEnd|date('Y-m-d H:i:s') }}">{{ test.timeEnd|date(cycle_show_test_time_end_format) }}</span>{% endif %}</td>
                {% endif %}
                {% if cycle_show_test_time_ratio_show == true %}
                    <td>{{ getPercentage(test.timeRun, cycle.testsTimeSum) }}%</td>
                {% endif %}
                {% if show_metadata == true %}
                    {% for key, item in additional_cols %}
                        <td title="{{ item }}">
                        {% if isUrl(test.metaData[item]) %}
                            <a target="_blank" href="{{ test.metaData[item] }}" >Link</a>
                        {% else %}
                            <span title="{{ test.metaData[item] }}">
                                {{ shortString(test.metaData[item], 35) }}
                            </span>
                        {% endif %}
                        </td>
                    {% endfor %}
                {% endif %}
                {% if disabled_uptime == false and show_uptime == true %}
                    <td>{{ test.dutUpTimeStart }}</td>
                    <td>{{ test.dutUpTimeEnd }}</td>
                {% endif %}
                <td>
                    <span class="badge {{ verdictToBadge(test.verdict)}}">
                        {{ test.verdict }}
                    </span>
                </td>
                {#<td>#}
                {#<a href="{{ path('test_show', { 'id': test.id }) }}">show</a>#}
                {#<a href="{{ path('test_edit', { 'id': test.id }) }}">edit</a>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cycle_index') }}">Back to the list</a>
        </li>
        {% if is_granted('edit', cycle.setup) %}
            <li>
                <a href="{{ path('cycle_edit', { 'id': cycle.id }) }}">Edit</a>
            </li>
        {% endif %}
        {#{% if is_granted('delete', cycle.setup) %}#}
        {#<li>#}
        {#{{ form_start(delete_form) }}#}
        {#<input type="submit" value="Delete" onclick="return confirm('are u sure?')">#}
        {#{{ form_end(delete_form) }}#}
        {#</li>#}
        {#{% endif %}#}
    </ul>

    <script>
        function drawEasyPieChart(){
            jQuery(function($) {
                $('.easy-pie-chart.percentage').each(function(){
                    $(this).easyPieChart({
                        barColor: $(this).data('color'),
                        trackColor: '#EEEEEE',
                        scaleColor: false,
                        lineCap: 'butt',
                        lineWidth: 6,
                        animate: ace.vars['old_ie'] ? false : 3000,
                        size:55
                    }).css('color', $(this).data('color'));
                });
            });
        }

        $(document).ready(
            function() {
                drawEasyPieChart();

                // var testTable = $('#testTable');
                // testTable.bootstrapTable({
                //     classes: "table-no-bordered",
                //     // pageList : [10 ,20, 25 ,30 ,120, 200, 'ALL']
                // });
            }
        );
    </script>
{% endblock %}
