{% extends 'lbook/default/index.html.twig' %}
{% block title %}LBOOK Setup cleaner{% endblock %}
{% block content %}
    <h1 style="margin-top: 0 !important;">Setup clenaer</h1>
    <div>Setups count in search: {{ setups | length }}</div>
    <div>Setups for delete : {{ setupsForDelete | length }}</div>
{% endblock %}
