{% extends 'base.html.twig' %}

{% block title %} Log Book {% endblock %}
{% block body %}

    {#{% if admin_service.isAdmin != 1 %}#}
    {% include 'lbook/menu.top.html.twig' %}
    {#{% endif %}#}
    <div class="main-container" id="main-container">

        <script type="text/javascript">
            try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>
        <div id="sidebar" class="sidebar responsive">


            {#{% if admin_service.isAdmin != 1 %}#}
            {% include 'lbook/menu.left.html.twig' %}
            {#{% endif %}#}
            {#{% if admin_service.isAdmin == 1 %}#}
            {#{% endif %}#}

        </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="ace-settings-container" id="ace-settings-container">
                        <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                            <i class="ace-icon fa fa-cog bigger-130"></i>
                        </div>

                        <div class="ace-settings-box clearfix" id="ace-settings-box">
                            <div class="pull-left width-50">
                                <div class="ace-settings-item">
                                    <div class="pull-left">
                                        <select id="skin-colorpicker" class="hide">
                                            <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                        </select>
                                    </div>
                                    <span>&nbsp; Choose Skin</span>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
                                    <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
                                    <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
                                    <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
                                    <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
                                    <label class="lbl" for="ace-settings-add-container">
                                        Inside
                                        <b>.container</b>
                                    </label>
                                </div>
                            </div><!-- /.pull-left -->

                            <div class="pull-left width-50">
                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" />
                                    <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" />
                                    <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                                </div>

                                <div class="ace-settings-item">
                                    <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" />
                                    <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                                </div>
                            </div><!-- /.pull-left -->
                        </div><!-- /.ace-settings-box -->
                    </div><!-- /.ace-settings-container -->

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->

                            {% block content %}

                                <div class="error-container">
                                    <div class="well">
                                        <h1 class="grey lighter smaller">
											<span class="blue bigger-125">
												<i class="ace-icon fa fa-sitemap"></i>
												Log Book 2.0
											</span>
                                            Welcome to Log Book site, the next generation of WLOG
                                        </h1>
                                        {#{% for key, value in _context  %}#}
                                            {#<h2>{{ key }}</h2>#}
                                            {#{{ dump(value) }}#}
                                        {#{% endfor %}#}
                                        <hr />
                                        <h3 class="lighter smaller">Site under construction</h3>

                                        <div>
                                            {#<form class="form-search">#}
                                            {#<span class="input-icon align-middle">#}
                                            {#<i class="ace-icon fa fa-search"></i>#}

                                            {#<input type="text" class="search-query" placeholder="Give it a search..." />#}
                                            {#</span>#}
                                            {#<button class="btn btn-sm" type="button">Go!</button>#}
                                            {#</form>#}

                                            <div class="space"></div>
                                            <h4 class="smaller">List:</h4>

                                            <ul class="list-unstyled spaced inline bigger-110 margin-15">
                                                <li>
                                                    <i class="ace-icon fa fa-eye blue"></i>
                                                    <a href="https://review.gerrithub.io/#/admin/projects/AndreyShamis/lbook" target="_blank">Code review </a> on https://review.gerrithub.io
                                                </li>
                                                <li>
                                                    <i class="ace-icon fa fa-bullhorn blue"></i>
                                                    <a href="https://github.com/AndreyShamis/lbook/issues" target="_blank">Tickets</a> on https://github.com
                                                </li>
                                                <li>
                                                    <i class="ace-icon fa fa-cloud-upload blue"></i>
                                                    <a href="https://github.com/AndreyShamis/lbook/blob/master/uploader.sh" target="_blank">Uploader Example sh</a>
                                                </li>
                                                <li>
                                                    <i class="ace-icon fa fa-globe blue"></i>
                                                    <a href="https://github.com/AndreyShamis/lbook/blob/master/uploader.py" target="_blank">Uploader Example Python</a>
                                                </li>
                                                <li>
                                                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                                                    The log file can be uploaded via /upload link
                                                </li>
                                                <li>
                                                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                                                    WIP: Generation of cycle
                                                </li>
                                                <li>
                                                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                                                    Nice random name will be generated got new Setup
                                                </li>
                                                <li>&nbsp;</li>
                                                <li>&nbsp;</li>
                                                <li>&nbsp;</li>
                                                <li>&nbsp;</li>
                                                <li>&nbsp;</li>
                                            </ul>
                                        </div>

                                        <hr />
                                        <div class="space"></div>

                                        <div class="center">
                                            <a href="javascript:history.back()" class="btn btn-grey">
                                                <i class="ace-icon fa fa-arrow-left"></i>
                                                Go Back
                                            </a>

                                            {#<a href="#" class="btn btn-primary">#}
                                            {#<i class="ace-icon fa fa-tachometer"></i>#}
                                            {#Dashboard#}
                                            {#</a>#}
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}


                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        {% include 'base.footer.html.twig' %}

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <script>
        $(document).ready(function () {
            {% block documentReady %}

            {% endblock documentReady %}
        });
    </script>
{% endblock %}





