.time_diff_icon{
    max-width:30px !important;
    width:20px !important;
}
.setup_cycle_user{
    max-width:100px !important;
    width:30px !important;
}
.setup_cycle_build_column{
    max-width:230px !important;
    width:130px !important;
}
.setup_cycle_id_column{
    max-width:90px !important;
    width:30px !important;
}
.setup_cycle_name_column{
    min-width:400px !important;
    width:400px !important;
    text-align: left !important;
}
.setup_cycle_passrate_column{
    max-width:65px !important;
    width:50px !important;
}
.setup_cycle_uploader_column{
    max-width:80px !important;
    width:80px !important;
}
.setup_cycle_testtime_column{
    max-width:80px !important;
    width:80px !important;
}
.setup_cycle_period_column{
    max-width:80px !important;
    width:80px !important;
}
.setup_cycle_updated_column{
    max-width:80px !important;
    width:80px !important;
}
.setup_cycle_tests_column{
    max-width:75px !important;
    width:70px !important;
}
.setup_cycle_options_column{
    max-width:80px !important;
    width:70px !important;
    text-align: right !important;
}
.setup_list_options_column{
    max-width:90px !important;
    width:70px !important;
    text-align: center !important;
}
.test_show_full_time{
    max-width:60px !important;
    width:50px !important;
}
.test_show_full_offset{
    max-width:45px !important;
    width:35px !important;
}
.cycle_index_status{
    max-width:80px !important;
    width:80px !important;
}
th.meta_data_column{
    font-size: 10px !important;
    font-weight: lighter !important;
}
.meta_data_column{
    font-size: 12px;
}

.cycle_pb{
    border-radius: 20px !important;
    margin-bottom: 0;
}
.btn{
    line-height: inherit !important;
    padding: 2px 16px !important;
}

.dropdown-menu{
    min-width: 260px !important;
}

.dropdown-menu label{
    font-size: 12px !important;
    line-height: 0.1 !important;
}

.testSearchSelection button[class~="multiselect"]{
    width: 400px;
    height: 32px;
}

/* Cycle show full */
#cycleFullShowInfoTable .infobox{
    width: 140px !important;
}
/* Cycle show full */
#cycleFullShowInfoTable .percentage{
    font-size: 11px;
}
/* Cycle show full */
#cycleFullShowInfoTable .infobox>.infobox-data{
    min-width: 80px !important;
}

#cycleTestsTable, #cycleTestsTable .badge{
    font-size: 11px !important;
}
#cycleTestsTable .cycleName{
    font-size: 12px !important;
    font-family: "Helvetica Neue", serif;
}

.testSearchForm input{
    width: 400px;
    height: 32px;
}

.ui-datepicker{
    width: auto !important;
}

.test_title{
    margin-top: 0 !important;
}
.generic_title{
    margin-top: 0 !important;
}
.cycle_title{
    margin-top: 0 !important;
}

.log_text{
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    display: table-cell;
    /*overflow: auto;*/
    max-width: 1200px;
}

.testLog td{
    padding: 2px !important;
    /* overflow: auto; */
    line-height: 1 !important;
    border: 0 !important;
}

.testLog tr:hover{
    border: 1px solid rgba(0, 0, 255, 0.25);
}
