.time_diff_icon{
    max-width:30px !important;
    width:20px !important;
}
.setup_cycle_name_column{
    min-width:250px !important;
    width:350px !important;
    text-align: left !important;
}
.setup_cycle_options_column{
    max-width:90px !important;
    width:70px !important;
    text-align: right !important;
}
.setup_list_options_column{
    max-width:90px !important;
    width:70px !important;
    text-align: center !important;
}