{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <h1>Test edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    <div class="well well-lg">
        <h4 class="green smaller lighter">Options</h4>
        <ul class="list-inline">
            <li>
                <i class="ace-icon fa fa-share green bigger-110"></i>
                <a href="{{ path('test_show', { 'id': test.id }) }}">Back to Test</a>
            </li>
            <li>
                <a href="{{ path('test_index') }}">Back to the list</a>
            </li>
            {% if is_granted('delete', test.cycle.setup) %}
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" onclick="return confirm('are u sure?')">
                {{ form_end(delete_form) }}
            </li>
            {%  endif %}
        </ul>
    </div>
{% endblock %}
