
{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <h1>Tests list with paginator</h1>
    <div>Count : {{ size }}</div>
    {% include "lbook/search.html.twig" %}
    {% set pagePath = "test_index" %}
    {% include "lbook/paginator.html.twig" %}
    <table class="records_list table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Test</th>
            <th>Order</th>
            <th>Name</th>
            <th>Time start</th>
            <th>Time end</th>
            <th>Runtime</th>
            <th>Uptime</th>
            <th>Uptime</th>
            <th>Verdict</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="searchable">
        {% set break = false %}
        {% set counter = 0 %}
        {% for test in iterator if not break %}
            {% if counter == 10000 %}
                {% set break = true %}
            {% endif %}
            {% set counter = counter+1 %}
            <tr class="{% if test.isDisabled == 1 %}test-disabled{% endif %}">
                <td><a href="{{ path('test_show', { 'id': test.id  }) }}">{{ test.id }}</a></td>
                <td><a href="{{ path('cycle_show', { 'id': test.cycle.id }) }}">{{ test.cycle.name }}</a></td>
                <td>{{ test.executionOrder }}</td>
                <td><a href="{{ path('test_show', { 'id': test.id  }) }}">{{ test.name }}</a></td>
                <td>{% if test.timeStart %}{{ test.timeStart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if test.timeEnd %}{{ test.timeEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ test.timeRun | ExecutionTimeGeneric }}</td>
                <td>{{ test.dutUpTimeStart }}</td>
                <td>{{ test.dutUpTimeEnd }}</td>
                <td>
                    <span class="badge {{ verdictToBadge(test.verdict) }}">{{ test.verdict }}</span>
                </td>
                <td>
                    {% if is_granted('edit', test.cycle.setup) %}
                    <a href="{{ path('test_edit', { 'id': test.id }) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('test_new') }}">Create a new test</a>
        </li>
    </ul>
{% endblock %}