{% extends 'lbook/default/index.html.twig' %}
{% block title %}LBOOK Test [{{ test.id }}:{{ test.name }}] {% endblock %}
{% block content %}
    <h3><a href="{{ path('setup_show', { 'id': test.cycle.setup.id }) }}"><< {{ test.cycle.setup}}</a> / <a href="{{ path('cycle_show', { 'id': test.cycle.id }) }}">< {{ test.cycle.name}}</a> / Test [{{ test.id }}] : {{ test.name }}</h3>

    <table class="records_list table table-striped table-condensed">
        <tbody>
        {#<tr>#}
            {#<th>Id</th>#}
            {#<td>{{ test.id }}</td>#}
        {#</tr>#}
        <tr>
            <th>Order</th>
            <td>{{ test.executionOrder }}</td>
        </tr>
        <tr>
            <th>Setup / Cycle info</th>
            <td>
                <span class="blue">
                    {{ test.cycle.setup.id }} : {{ test.cycle.setup.name }}
                </span>
                /
                <span class="blue">
                    {{ test.cycle.id }} : {{ test.cycle.name }}
                </span>
            </td>
        </tr>
        {#<tr>#}
            {#<th>Name</th>#}
            {#<td>{{ test.name }}</td>#}
        {#</tr>#}
        <tr>
            <th>Time start / Time end / Run time / % of cycle time</th>
            <td>
                <i class="ace-icon fa fa-calendar"></i>
                <span class="blue" title="Start time">
                    {% if test.timeStart %}{{ test.timeStart|date('Y-m-d H:i:s') }}{% endif %}
                </span>
                /
                <i class="ace-icon fa fa-calendar"></i>
                <span class="blue" title="End time">
                    {% if test.timeEnd %}{{ test.timeEnd|date('Y-m-d H:i:s') }}{% endif %}
                </span>
                / &nbsp;&nbsp;
                <i class="ace-icon fa fa-info-circle"></i>
                <span title="{{ test.timeRun }} seconds">
                    {{ test.timeRun |  ExecutionTimeGeneric }}
                </span>
                / &nbsp;&nbsp;
                <i class="ace-icon fa fa-info-circle"></i>
                <span class="orange" title="Show percentage of time in whole cycle">
                    {{ getPercentage(test.timeRun, test.cycle.testsTimeSum) }}%
                </span>
            </td>
        </tr>
        <tr>
            <th>Verdict</th>
            <td><span class="badge {{ verdictToBadge(test.verdict)}}">{{ test.verdict }}</span></td></td>
        </tr>
        </tbody>
    </table>

    {% set logs = test.logs %}
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-star orange"></i>
                Logs list
                <div>Count : {{ size }}</div>
                {% include "lbook/search.html.twig" %}
                {% set pagePath = "test_show" %}
                {% set objId = test.id %}
                {% include "lbook/double.paginator.html.twig" %}
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body" style="display: block;">
            <div class="widget-main no-padding">
                <table class="table table-bordered table-hover table-condensed">
                    <thead class="thin-border-bottom">
                    <tr>
                        <th><i class="ace-icon fa fa-caret-right blue"></i>Time</th>
                        <th><i class="ace-icon fa fa-caret-right blue"></i>Offset</th>
                        {#<th><i class="ace-icon fa fa-caret-right blue"></i>Id</th>#}
                        {#<th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Order</th>#}
                        <th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Log</th>
                        <th class="hidden-480"><i class="ace-icon fa fa-caret-right blue"></i>Type</th>
                    </tr>
                    </thead>
                    <tbody class="searchable">
                    {% set break = false %}
                    {% set counter = 0 %}
                    {% for log in iterator if not break %}
                        {% if counter == 10000 %}
                            {% set break = true %}
                        {% endif %}
                        {% set counter = counter+1 %}
                            <tr class="{{ logTypeToTableColor(log.msgType) }}">
                                <td title="ID:{{ log.id }}, Order:{{ log.chain }}">{{ log.logTime | date('H:i:s') }}</td>
                                <td>{{ relativeTime(test.timeStart, log.logTime) }}</td>
                                {#<td><a href="{{ path('log_show', { 'id': log.id }) }}">{{ log.id }}</a></td>#}
                                {#<td title="{{ log.id }}">{{ log.chain }}</td>#}
                                {% set link_class = '' %}
                                {% if log.msgType.name in ["INFO", "SYSTEM"] %}
                                    {% set link_class = 'autolink' %}
                                {% endif %}
                                <td class="{{ link_class }}">{{ log.message | nl2br }}</td>
                                <td class="logType">{{ log.msgType }}</td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.widget-main -->
        </div><!-- /.widget-body -->
    </div>

    <ul>
        <li>
            <a href="{{ path('test_index') }}">Back to the list</a>
        </li>
        {% if is_granted('edit', test.cycle.setup) %}
        <li>
            <a href="{{ path('test_edit', { 'id': test.id }) }}">Edit</a>
        </li>
        {% endif %}
        {#{% if is_granted('delete', test.cycle.setup) %}#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
            {#<input type="submit" value="Delete" onclick="return confirm('are u sure?')">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
        {#{% endif %}#}
    </ul>
    <script type="text/javascript">
        function replaceUrl () {
            $(".autolink").each(function(){
                $(this).html(linkify($(this).html()));
            });
        }
        $(document).ready(
            setTimeout(replaceUrl, 1500)
        );
    </script>
{% endblock %}
