<form method="post" action="{{ path('storage_string_delete', {'id': storage_string.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ storage_string.id) }}">
    <button class="btn">Delete</button>
</form>
