{% extends 'lbook/default/index.html.twig' %}
{% block title %}New Storage Strings{% endblock %}
{% block content %}

    <h3>Create new StorageString</h3>

    {{ include('storage_string/_form.html.twig') }}

    <a href="{{ path('storage_string_index') }}">back to list</a>
{% endblock %}
