{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <h1>msg_type edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('msg_type_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" onclick="return confirm('are u sure?')">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
