{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <h1>msg_type</h1>

    <table class="records_list table table-striped table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ msg_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ msg_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('msg_type_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('msg_type_edit', { 'id': msg_type.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" onclick="return confirm('are u sure?')">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
