{% extends 'base.html.twig' %}

{% block title %}Edit LogBookTestInfo{% endblock %}

{% block body %}
    <h1>Edit LogBookTestInfo</h1>

    {{ include('log_book_test_info/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('log_book_test_info_index') }}">back to list</a>

    {{ include('log_book_test_info/_delete_form.html.twig') }}
{% endblock %}
