{% extends 'base.html.twig' %}

{% block title %}New LogBookUserSettings{% endblock %}

{% block body %}
    <h1>Create new LogBookUserSettings</h1>

    {{ include('lbook/user_settings/_form.html.twig') }}

    <a href="{{ path('user_settings_index') }}">back to list</a>
{% endblock %}