<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120">
                <span class="blue bolder">Andrey Shamis </span>
                Log Book Manager &copy; 2017-2018 lolnik@gmail.com
            </span>
        </div>
    </div>
</div>