{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <h1>verdict list</h1>

    <table class="records_list table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Options</th>

        </tr>
        </thead>
        <tbody>
        {% for verdict in verdicts %}
            <tr>
                <td><a href="{{ path('verdict_show', { 'id': verdict.id }) }}">{{ verdict.id }}</a></td>
                <td>{{ verdict.name }}</td>
                <td>
                    <a href="{{ path('verdict_show', { 'id': verdict.id }) }}">show</a>
                    <a href="{{ path('verdict_edit', { 'id': verdict.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('verdict_new') }}">Create a new verdict</a>
        </li>
    </ul>
{% endblock %}
