{% extends 'lbook/default/index.html.twig' %}
{% block title %}LogBook Report index{% endblock %}
{% block content %}
    <h4>Reports</h4>
    {% include 'log_book_cycle_report/list.html.twig' %}
{#    <a href="{{ path('log_book_cycle_report_new') }}">Create new</a>#}
{% endblock %}
