{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <h1>upload list</h1>


    <ul>
        <li>
            <a href="{{ path('upload_new') }}">Upload File</a>
        </li>
    </ul>


    {% endblock %}
