{% extends 'lbook/default/index.html.twig' %}
{% block title %}LBOOK Setup [{{ setup.id }}:{{ setup.name }}] {% endblock %}
{% block content %}
    <h3>Setup [{{ setup.id }}] : {{ setup.name }}</h3>
    <table class="records_list table table-striped table-condensed">
        <tbody>
        {#<tr>#}
        {#<th>Id</th>#}
        {#<td>{{ setup.id }}</td>#}
        {#</tr>#}
        <tr>
            <th>OS</th>
            <td><span class="label label-lg label-yellow">{{ setup.osStr }}</span></td>
        </tr>
        {#<tr>#}
        {#<th>Name</th>#}
        {#<td>{{ setup.name }}</td>#}
        {#</tr>#}
        <tr>
            <th>Short Name</th>
            <td>
                <i class="ace-icon fa fa-bookmark"></i>
                {{ setup.nameShown }}
            </td>
        </tr>
        <tr>
            <th>Disabled / Visibility / Check Uptime</th>
            <td>
                <span class="blue">
                {{ setup.disabled ? '<i class="ace-icon fa fa-lock"></i> Yes':'<i class="ace-icon fa fa-unlock"></i> False' }}
                </span>
                /
                <span class="green">
                {{ setup.private ? '<i class="ace-icon fa fa-eye"></i> Private':'<i class="ace-icon fa fa-globe"></i> Public' }}
                </span>
                /
                <span class="yellow">
                {{ setup.checkUpTime ? '<i class="ace-icon fa fa-check-square-o"></i> Yes':'<i class="ace-icon fa fa-ban"></i> No' }}
                </span>
            </td>
        </tr>
        <tr>
            <th>Created / Updated</th>
            <td>
                <i class="ace-icon fa fa-calendar"></i>
                <span class="blue">
                    {{ setup.createdAt|date('d/m/Y H:i:s') }}
                </span>
                /
                <i class="ace-icon fa fa-calendar"></i>
                <span class="blue">
                {{ setup.updatedAt|date('d/m/Y H:i:s') }}
                </span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="ace-icon fa fa-info-circle"></i>
                {%  if date(setup.updatedAt) > date('-20minutes') %}
                    {% set updatedClass="red" %}
                {% else %}
                    {% set updatedClass="blue" %}
                {% endif %}
                <span class="{{ updatedClass }}">
                {{ setup.updatedAt|time_diff}}
                </span>
            </td>
        </tr>
        <tr>
            <th>Owner / Moderators</th>
            <td>
                <i class="ace-icon fa fa-key"></i>
                <span class="label label-sm label-success label-white arrowed arrowed-right">{{ setup.owner}}</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="ace-icon fa fa-users"></i>
                {% for moderator in setup.moderators %}
                    <a href="{{ path('user_show', { 'id': moderator.id }) }}" target="_blank">
                        {% if moderator.id == setup.owner.id %}
                            <span class="label label-sm label-danger label-white arrowed arrowed-right" title="Setup owner">{{ moderator.username }}</span>
                        {% else %}
                            <span class="label label-sm label-primary label-white arrowed arrowed-right">{{ moderator.username }}</span>
                        {% endif %}
                    </a>
                {% endfor %}
            </td>
        </tr>
        {% set already_printed = ['moderators', 'id', 'name', 'cycles', 'nameShown', 'createdAt', 'updatedAt', 'owner', 'disabled', 'os', 'isPrivate', 'checkUpTime'] %}
        {% for key, value in setup|cast_to_array %}
            {% if key not in already_printed%}
                <tr>
                    <th>{{ key | capitalize}}</th>
                    <td>{{ value }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% set pagePath = "setup_show" %}
    {% set objId = setup.id %}
    {% include "lbook/double.paginator.html.twig" %}
    {%  set cycles = setup.cycles %}
    <div>Count : {{ size }}</div>
    {% include "lbook/search.html.twig" %}
    <table class="records_list table table-striped table-condensed table-hover" data-classes="table table-no-bordered"
           data-pagination="true" data-search="true" data-toggle="table"
           data-page-size="100" data-page-list="[20, 50, 100, 'ALL']" data-sort-order="desc">
        <thead>
        <tr>
            <th data-sortable="true" title="Updated image" class="time_diff_icon">&nbsp;</th>
            <th data-sorter="htmlSorter" data-sortable="true">Id</th>
            <th data-sorter="htmlSorter" data-sortable="true" class="setup_cycle_name_column">Name</th>
            <th data-sortable="true">Tests</th>
            <th data-sortable="true">Build</th>
            <th data-sorter="htmlSorter" data-sortable="true">Pass Rate</th>
            <th data-sortable="true">Controller</th>
            <th data-sortable="true">DUT</th>
            <th data-sortable="true">Uploader</th>
            <th data-sortable="true">Period</th>
            <th data-sortable="true">Test time</th>
            <th data-sorter="htmlSorter" data-sortable="true">Updated</th>
            <th class="setup_cycle_options_column">Options</th>
        </tr>
        </thead>
        <tbody class="searchable">
        {% set break = false %}
        {% set counter = 0 %}
        {% for cycle in iterator if not break %}
            {% if counter == 10000 %}
                {% set break = true %}
            {% endif %}
            {% set counter = counter+1 %}
            <tr>
                <td>
                    {% if date(cycle.updatedAt) > date('-60minutes') %}
                        <i class="normal-icon ace-icon fa fa-clock-o pink smaller-90" title="Updated {{ cycle.updatedAt|time_diff }}"></i>
                    {% endif %}
                </td>
                <td><a href="{{ path('cycle_show_first', { 'id': cycle.id }) }}">{{ cycle.id }}</a></td>
                <td title="{{ cycle.name }}"><a href="{{ path('cycle_show_first', { 'id': cycle.id }) }}">{{ shortString(cycle.name, 35, "...") }}</a></td>
                <td>{{ cycle.testsCount }}</td>
                <td title="{{ cycle.build }}">{{ shortString(cycle.build, 30) }}</td>
                <td><span class="{{ passRateToColor(cycle.passRate) }}">{{ cycle.passRate }}%</span></td>
                <td>{{ cycle.controller }}</td>
                <td>{{ cycle.dut }}</td>
                <td>{{ cycle.targetUploader }}</td>
                <td>{{ cycle.period |  ExecutionTimeGeneric}}</td>
                <td>{{ cycle.testsTimeSum |  ExecutionTimeGeneric}}</td>
                <td>
                    <span title="Updated [{{ cycle.updatedAt |date('d/m/Y H:i:s') }}] {{ cycle.updatedAt|time_diff }}">
                        {{ cycle.updatedAt |date('d/m H:i:s') }}
                    </span>
                </td>
                <td>
                    <div class="hidden-sm hidden-xs action-buttons">
                        <a class="blue" href="{{ path('cycle_show', { 'id': cycle.id }) }}" title="Show">
                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                        </a>
                        {% if is_granted('edit', setup) %}
                            <a class="green" href="{{ path('cycle_edit', { 'id': cycle.id }) }}" title="Edit">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>
                        {% endif %}
                        {#<a class="red" href="#" title="Delete">#}
                        {#<i class="ace-icon fa fa-trash-o bigger-130"></i>#}
                        {#</a>#}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('setup_index') }}">Back to the list</a>
        </li>
        {% if is_granted('edit', setup) %}
            <li><a href="{{ path('setup_edit', { 'id': setup.id }) }}">Edit</a></li>
        {% endif %}
        {#{% if is_granted('delete', setup) %}#}
        {#<li>#}
        {#{{ form_start(delete_form) }}#}
        {#<input type="submit" value="Delete" onclick="return confirm('Are you sure about delete this setup?')">#}
        {#{{ form_end(delete_form) }}#}
        {#</li>#}
        {#{% endif %}#}
    </ul>
{% endblock %}
