{% extends 'lbook/default/index.html.twig' %}
{% block title %}LBOOK Setup [{{ setup.id }}:{{ setup.name }}] {% endblock %}
{% block content %}
    <h1>Setup [{{ setup.id }}] : {{ setup.name }}</h1>
    <table class="records_list table table-striped table-condensed">
        <tbody>
            {#<tr>#}
                {#<th>Id</th>#}
                {#<td>{{ setup.id }}</td>#}
            {#</tr>#}
            <tr>
                <th>OS</th>
                <td><span class="label label-lg label-yellow">{{ setup.osStr }}</span></td>
            </tr>
            {#<tr>#}
                {#<th>Name</th>#}
                {#<td>{{ setup.name }}</td>#}
            {#</tr>#}
            <tr>
                <th>Short Name</th>
                <td>{{ setup.nameShown }}</td>
            </tr>
            <tr>
                <th>Disabled</th>
                <td>
                    {{ setup.disabled ? 'Yes':'False' }}
                </td>
            </tr>
            <tr>
                <th>Created </th>
                <td>
                    <i class="ace-icon fa fa-calendar"></i>
                    {{ setup.createdAt|date('d/m/Y H:i:s') }}
                </td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>
                    <i class="ace-icon fa fa-calendar"></i>
                    {{ setup.updatedAt|date('d/m/Y H:i:s') }}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="ace-icon fa fa-info-circle"></i>
                    {{ setup.updatedAt|time_diff}}
                </td>
            </tr>
            <tr>
                <th>Owner/Moderators</th>
                <td>
                    <i class="ace-icon fa fa-key"></i>
                    <span class="label label-sm label-success label-white arrowed arrowed-right">{{ setup.owner}}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="ace-icon fa fa-users"></i>
                    {% for moderator in setup.moderators %}
                        <a href="{{ path('user_show', { 'id': moderator.id }) }}" target="_blank">
                            {% if moderator.id == setup.owner.id %}
                            <span class="label label-sm label-danger label-white arrowed arrowed-right" title="Setup owner">{{ moderator.username }}</span>
                            {% else %}
                            <span class="label label-sm label-primary label-white arrowed arrowed-right">{{ moderator.username }}</span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </td>
            </tr>
            {% set already_printed = ['moderators', 'id', 'name', 'cycles', 'nameShown', 'createdAt', 'updatedAt', 'owner', 'disabled', 'os'] %}
            {% for key, value in setup|cast_to_array %}
                {% if key not in already_printed%}
                    <tr>
                        <th>{{ key | capitalize}}</th>
                        <td>{{ value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {%  set cycles = setup.cycles %}
    {% include "lbook/search.html.twig" %}
    <table class="records_list table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Name</th>
            <th>Tests</th>
            <th>Build</th>
            <th>Pass Rate</th>
            <th>Controller</th>
            <th>DUT</th>
            <th>Uploader</th>
            <th>Period</th>
            <th>Test time</th>
            <th>Updated</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody class="searchable">
        {% for cycle in cycles %}
            <tr>
                <td>
                    {%  if date(cycle.updatedAt) > date('-60minutes') %}
                        <i class="normal-icon ace-icon fa fa-clock-o pink bigger-130" title="Updated {{ cycle.updatedAt|time_diff }}"></i>
                    {% endif %}
                </td>
                <td><a href="{{ path('cycle_show', { 'id': cycle.id }) }}">{{ cycle.id }}</a></td>
                <td><a href="{{ path('cycle_show', { 'id': cycle.id }) }}">{{ cycle.name }}</a></td>
                <td>{{ cycle.tests | length }}</td>
                <td>{{ cycle.build }}</td>
                <td>{{ cycle.passRate }}%</td>
                <td>{{ cycle.controller }}</td>
                <td>{{ cycle.dut }}</td>
                <td>{{ cycle.targetUploader }}</td>
                <td>{{ cycle.period |  ExecutionTimeGeneric}}</td>
                <td>{{ cycle.testsTimeSum |  ExecutionTimeGeneric}}</td>
                <td><span title="Updated [{{ cycle.updatedAt |date('d/m/Y H:i:s') }}] {{ cycle.updatedAt|time_diff }}">{{ cycle.updatedAt |date('d/m H:i:s') }}</span></td>
                <td>
                    <a href="{{ path('cycle_show', { 'id': cycle.id }) }}">show</a>
                    {% if is_granted('edit', setup) %}
                    <a href="{{ path('cycle_edit', { 'id': cycle.id }) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('setup_index') }}">Back to the list</a>
        </li>
        {% if is_granted('edit', setup) %}
        <li><a href="{{ path('setup_edit', { 'id': setup.id }) }}">Edit</a></li>
        {% endif %}
        {#{% if is_granted('delete', setup) %}#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete" onclick="return confirm('Are you sure about delete this setup?')">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
        {#{% endif %}#}
    </ul>
{% endblock %}
