<div id="navbar" class="navbar navbar-default">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>

    <div class="navbar-container" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="{{ app.request.scheme ~'://' ~ app.request.httpHost}}" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    LogBOOK
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="/assets/avatars/mycomputer.png" alt="User Photo" />
                        <span class="user-info">
                            <small>Welcome,</small>{{ app.user.username| default('Guest') }}
                        </span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        {% if app.user is not null %}
                        <li>
                            <a href="{{ path('user_settings_show', {'id': app.user.id} ) }}">
                                <i class="ace-icon fa fa-cog"></i>
                                Settings{WIP}
                            </a>
                        </li>

                        <li>
                            <a href="{{asset(path('user_show', { 'id': app.user.id }))}}">
                                <i class="ace-icon fa fa-user"></i>
                                Profile
                            </a>
                        </li>

                        <li class="divider"></li>
                        <li>
                            <a href="/logout" target="">
                                <i class="ace-icon fa fa-power-off"></i>
                                Logout
                            </a>
                        </li>
                        {#<li>#}
                        {#<a href="/adminLogout">#}
                        {#<i class="ace-icon fa fa-cog"></i>#}
                        {#Logout#}
                        {#</a>#}
                        {#{% endif %}#}
                        {#</li>#}
                        {#<li>#}
                        {#<a href="" target="_blank">#}
                        {#<i class="ace-icon fa fa-flask"></i>#}
                        {#Link to site#}
                        {#</a>#}
                        {#</li>#}
                        {% else %}
                            <li>
                                <a href="/login" target="">
                                    <i class="ace-icon fa fa-key"></i>
                                    Login
                                </a>
                            </li>
                        {% endif %}
                        <li class="divider"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div>