<div class="input-group"> <span class="input-group-addon">Filter</span>
    {% if search_value is not defined %}
    {% set search_value='' %}
    {% endif %}
    <input id="filter" type="text" class="form-control" placeholder="Type here..." value="{{ search_value }}">
</div>
<script>
    $(document).ready(function () {
        (function ($) {
            $('#filter').keyup(function () {
                var searchable_tr = $('.searchable tr');
                var rex = new RegExp($(this).val(), 'i');
                searchable_tr.hide();
                searchable_tr.filter(function () {
                    return rex.test($(this).text());
                }).show();
            })
        }(jQuery));
        /**
         * Trigger keyup event if is there a text in search element
         * @type {*|jQuery|HTMLElement}
         */
        var f_obj = $("#filter");
        if (f_obj.val() !== '') {
            f_obj.trigger('keyup');
            setTimeout(f_obj.fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(550).fadeOut(500).fadeIn(550), 500)
        }
    });
</script>