{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <h1>Logs list</h1>
    <div>Count : {{ size }}</div>
    {% include "lbook/search.html.twig" %}
    {% set pagePath = "log_index" %}
    {% include "lbook/paginator.html.twig" %}

    <table class="records_list table table-striped table-condensed table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Time</th>
            <th>Order</th>
            <th>Log</th>
            <th>Type</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody class="searchable">
        {% set break = false %}
        {% set counter = 0 %}
        {% for log in iterator if not break %}
            {% if counter == 10000 %}
                {% set break = true %}
            {% endif %}
            {% set counter = counter+1 %}
            <tr>
                <td><a href="{{ path('log_show', { 'id': log.id }) }}">{{ log.id }}</a></td>
                <td>{{ log.logTime|date('Y-m-d H:i:s') }}</td>
                <td>{{ log.chain }}</td>
                <td>{{ log.message | nl2br  }}</td>
                <td>{{ log.msgType }}</td>
                <td>
                    <a href="{{ path('log_show', { 'id': log.id }) }}">show</a>
                    <a href="{{ path('log_edit', { 'id': log.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('log_new') }}">Create a new msg_type</a>
        </li>
    </ul>
{% endblock %}