{% extends 'lbook/default/index.html.twig' %}

{% block content %}
    <h1>Log</h1>

    <table class="records_list table table-striped table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ log.id }}</td>
            </tr>
            <tr>
                <th>Order</th>
                <td>{{ log.chain }}</td>
            </tr>
            <tr>
                <th>Test</th>
                <td><a target="_blank" href="{{ path('test_show', { 'id': log.test.id }) }}">{{ log.test }}</a></td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ log.msgType }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ log.logTime | date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>

                <th>Log</th>
                <td>
                    <div class="well">
                        {#<h4 class="green smaller lighter"></h4>#}
                        {{ log.message | nl2br }}
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('log_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('log_edit', { 'id': log.id }) }}">Edit</a>
        </li>
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete" onclick="return confirm('are u sure?')">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    </ul>
{% endblock %}
